@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comme';
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}